<div class='app'>
  <h1>User Details: <span> <%= @user.name%></span></h1>
  <a href="../" class='btn'>Home</a>

  <div class='user-container'> 
    <img src= "<%= @user.photo %>" alt="User Profile"/>
    <div class='user-info'>
      <h3><%= @user.name%></h3>
      <p>Number of posts: <%= @user.posts_counter %> </p>
    </div>
    <div class='create-post'>
       <button class="btn"><%= link_to 'Create post', new_user_post_path(user_id: @user.id) %></button>
    </div>
  </div> 

  <div class="user-bio-container"> 
    <h3>Bio</h3>
    <p><%= @user.bio%></p> 
  </div>

  <div class='user-posts'>  
        <div>
         <% @user.recent_posts.each do |post| %>
         <p class='title'>Post #<%= post.id%>: <%= link_to "#{post.title}", "./#{@user.id}/posts/#{post.id}" %></p>
         <p class='text'><%= post.text[0...100]%>...</p>
         <div class='comment-like'>
            <span>Comments: <%= post.comments_counter || 0%>  </span>
            <span> Likes: <%= post.likes_counter || 0%></span>
            <% if can? :destroy, post %>
              <%= button_to "Delete a post", user_post_path(post.author_id, post.id), method: :delete, data: { turbo: false } %>
            <% end %>
         </div>
         <%end%>
        </div>
        
  </div>

  <form action="./<%= @user.id%>/posts" method="get">
    <button type="submit" class='btn'>See all posts</button>
  </form>
</div>