<div class='app'>
    <h1>This is <%= @user.name%> posts list</h1>
    <a href="../../" class='btn'>Home</a>

    <div class='user-container'> 
    <img src= "<%= @user.photo %>" alt="User Profile"/>
    <div class='user-info'>
    <h3><%= @user.name%></h3>
    <p>Number of posts: <%= @user.posts_counter %> </p>
    </div>
    </div>

    <div class='user-posts'> 
      <%= Post.where(author_id: @user.id).each do |post| %> 
        <div class='posts'>
        <p class='title'>Post #<%=post.id%>: <%= link_to "#{post.title}", "#{user_posts_path}/#{post.id}"%></p>
        <p class='text'><%= post.text[0...100]%>...</p>
        <div class='comment-like'>
        <span>Comments: <%= post.comments_counter || 0%>  </span>
        <span> Likes: <%= post.likes_counter || 0%></span>
        </div>
        </div>

        <div class="post-comments">
            <% if post.recent_comments.any? %>
                <% post.recent_comments.each do |comment| %>
                <div>
                    <p> <span><%= User.find_by(id: comment.author_id).name %>:</span> <span class='comment-text'><%= comment.text[0...100] %>...</span></p>
                </div>
                <% end %>
              <% else %>
                <p>No comments added yet.</p>
        
              <% end %>
      <% end %>
        </div> 
    </div>
</div>